<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>home page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 ">
    

<div class="h-screen ">


    <header class="bg-blue-600 text-white p-6 flex justify-between">
        <h1 class="text-3xl font-bold">Welcome to My Website</h1>
        <nav class="mt-4">
            <ul class="flex space-x-4 ml-20">
                <li><a href="#" class="hover:text-blue-300">Home</a></li>
                <li><a href="#" class="hover:text-blue-300">About</a></li>
                <li><a href="#" class="hover:text-blue-300">Services</a></li>
                <li><a href="#" class="hover:text-blue-300">Contact</a></li>
                <li><a href="/logout" class="hover:text-red-600 text-black-300 text-bold">logout</a> 
            </ul>
        </nav>
    </header>

  










</div>




</body>
</html>